@font-face {
    font-family: "False Prospect";
    src: url('/Resources/falseprospect.ttf') format('truetype');
}

:root{
    --textColor: #221f1f;
    --backColor: #eee;
    --accentColor: #3D348B;
    --projectColor: #3D348B;
}

*{font-family: 'Montserrat', 'Poppins', Arial, Helvetica, sans-serif;}

html{
  scroll-behavior: smooth;
  min-width: 320px;
}

body {
  /* background: var(--backColor); */
  background: linear-gradient(90deg, #eee, #e2e2e2);
  background-size: 400% 400%;
  color: var(--textColor);
}

*::-webkit-scrollbar-track{
	border-radius: 10px;
	background-color: transparent;
}

*::-webkit-scrollbar{
  height: 5px;
  width: 5px;
  background-color: transparent;
  z-index: 3;
}

body::-webkit-scrollbar{
width: 10px;
}

*::-webkit-scrollbar-thumb{
  border-radius: 10px;
	background-color: var(--accentColor);
}

/* Body Styles */

header{
  min-height: 130px;
  color: var(--textColor);
}

#titleHeader{
  top: 30px;
  min-width: 160px;
  margin-left: 2rem;
  display: inline-block;
  position: relative;
}

#falseText{
  font-family: "False Prospect";
  visibility: hidden;
  font-size: 3.2rem;
  text-align: right;
  white-space: nowrap;
}

#falseText::before{
  content: '[';
}

#falseText::after{
  content: ']';
}

#prospectText{
  font-family: "False Prospect";
  font-size: 3.2rem;
}

#quill{
  height: 3.2rem;
  width: auto;
  position: relative;
  top: 8.5px;
  visibility: hidden;
}

.quillFill{
  fill: var(--textColor);
}

#headerLinks{
  opacity: 0;
  display: inline-block;
  position: relative;
  top: 1.85rem;
  font-size: 1.15rem;
  transition: all .2s ease;
}

#headerLinks ul li{
  display: inline-block;
  margin: 0 1rem;
}

a:link,a:visited,
a:hover,a:active{
    color: var(--textColor);
    text-decoration: none;
    cursor: pointer;
}

a:hover,a:active{
  color: var(--accentColor);
  text-decoration: underline;
}

section#display{
  display: grid;
  width: 100%;
  max-height: 0;
  /* height: 0%; */
  /* visibility: hidden; */
  opacity: 0;
  /* background: var(--textColor); */
  border-top: thin solid var(--textColor);
  box-shadow: 0px 1px 4px inset var(--textColor);
  transition: all 1s ease;
  grid-template-columns: 30% auto 25%;
}

.fadein{
  transition: opacity .33s ease, max-height .33s ease;
}

#infoContainer{
  grid-column: 1/2; 
  text-align: left;
  padding: 1rem 10px;
  padding-left: 2rem;
  overflow-y: auto;
}

#infoContainer p{
  padding: 1rem 0;
}

#infoContainer span#fp{
  font-family: "False Prospect";
  font-size: 1.5rem;
}
#infoContainer span#doxstop{
color: red;
}

#mediaContainer{
  grid-column: 2/3;
  margin: 0 auto;
  object-fit: contain;
}

#mediaContainer img{
  max-height: 800px;
  max-width: 100%;
  padding: 1rem;
}

#mediaControls{
  color: var(--textColor);
  font-weight: 800;
  font-size: 1.3rem;
  top: 0;
  right: -40px;
  user-select: none;
}

#mediaControls p{
  cursor: pointer;
  grid-column: 3/4;
  display: inline;
  margin: 10px;
  user-select: none;
}

#mediaControls p:active{
  color: var(--projectColor);
}

section#container{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px,1fr));
  opacity: 0;
  transition: opacity .3s ease;
}

.item{
  /* background: var(--accentColor); */
  border: none solid var(--backColor);
  width: auto;
  height: auto;
  flex: 1;
  position: relative;
  overflow: hidden;
  object-fit: contain;
  transition: all .2s ease;
  color: #e2e2e2;
}

.item#myTask{
  color: #221f1f;
}

.itemOverlay{
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all .5s ease;
  box-shadow: 25px 25px 25px 0 var(--backColor) inset, -25px -25px 25px 0 var(--backColor) inset; 
}

.itemOverlay:hover{
  opacity: .95;
}

.itemOverlay h1{
  margin: 6%;
}

.itemOverlay h2{
  margin-left: 6%;
  height: 80%;
  max-width: 90%;
  max-height: 80%;
  overflow-y: auto;
}

.item img{
  max-width: 100%;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@media screen and (max-width:920px){
  section#display{
    grid-template-columns: 10% auto 10%;
    grid-template-rows: auto auto;
  }
  
  #infoContainer{
    grid-column: 2/3; 
    grid-row: 1/2;
    /* border: thin solid #221f1f; */
    padding: 1rem 10px;
    overflow-y: auto;
  }

  #infoContainer p{
    padding: 1rem 0;
  }
  
  #mediaContainer{
    grid-column: 2/3;
    grid-row: 2/3;
  }

  #mediaControls{
    background: var(--backColor);
    position: relative;
    height: 25px;
    width: 50px;
    left: -50px;
    grid-row: 2/3;
    grid-column: 3/4;
    border-bottom-left-radius: 5px;
  }
  
  #mediaControls p{
    margin: 5px;
  }
}

@media screen and (max-width: 520px){

  #titleHeader{
    width: 100vw;
    text-align: center;
    margin: auto;
    padding-left: 16px;
    top: 20px;
  }

  #headerLinks{
    display: block;
    top: 1.7rem;
    margin-left: -.8rem;
    width: 100vw;
    text-align: center;
  }

  section#display{
    grid-template-columns: 3% auto 3%;
  }
  section#container{
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-template-columns: 3% auto 3%;
  }

  .item{
    grid-column: 2/3;
  }

}